/* DISABLE CANVAS NODES THAT DON'T REQUIRE INTERACTION (for UX purposes) */
.canvas-node:has(.profile),
.canvas-node:has(.main-stat),
.canvas-node:has(.extra-actions-bg),
.canvas-node:has(.character-traits-bg),
.canvas-node:has(.notes) {
  pointer-events: none;
}
/* DISABLE RESIZING & LINKING OF NODES THAT DON'T REQUIRE THESE FEATURES (for UX purposes) */
.canvas-node:has(.callout[data-callout-metadata~="max-hp"])
  .canvas-node-resizer,
.canvas-node:has(.callout[data-callout-metadata~="hp"]) .canvas-node-resizer,
.canvas-node:has(.callout[data-callout-metadata~="temp-hp"])
  .canvas-node-resizer,
.canvas-node:has(.callout[data-callout-metadata~="level"]) .canvas-node-resizer,
.canvas-node:has(.callout[data-callout-metadata~="inspiration"])
  .canvas-node-resizer,
  .canvas-node:has(.callout[data-callout-metadata~="death-saves"])
  .canvas-node-resizer,
.canvas-node:has(.callout[data-callout-metadata~="proficiency"])
  .canvas-node-resizer,
.canvas-node:has(.callout[data-callout-metadata~="hit-dice"])
  .canvas-node-resizer,
.canvas-node:has(.callout[data-callout-metadata~="ac"]) .canvas-node-resizer,
.canvas-node:has(.callout[data-callout-metadata~="init"]) .canvas-node-resizer,
.canvas-node:has(.callout[data-callout-metadata~="cp"]) .canvas-node-resizer,
.canvas-node:has(.callout[data-callout-metadata~="sp"]) .canvas-node-resizer,
.canvas-node:has(.callout[data-callout-metadata~="gp"]) .canvas-node-resizer,
.canvas-node:has(.callout[data-callout-metadata~="pp"]) .canvas-node-resizer,
.canvas-node:has(.profile-img) .canvas-node-resizer,
.canvas-node:has(.profile) .canvas-node-resizer {
  display: none;
}
/* DISABLE LINKING OF NODES THAT DON'T REQUIRE LINKING (for UX purposes) */
.canvas-node:has(.spell-list) .canvas-node-connection-point,
.canvas-node:has(.inventory) .canvas-node-connection-point {
  display: none;
}

/* DISABLE CONTENT BLOCKER FOR NODES THAT REQUIRE DIRECT (1-click) interaction/hover events */
.canvas-node:has(.spell-list) .canvas-node-content-blocker {
  display: none;
}

/* CANVAS/NODE SETTINGS */
.canvas {
  position: relative;
}
.canvas::before {
  --image-width: 2000px;
  --image-height: 1665px;
  --image-scale: 25%;
  --background-scale: 400%;
  content: "";
  width: var(--background-scale);
  height: var(--background-scale);
  background: url("https://i.imgur.com/CZtsSMK.jpg");
  position: absolute;
  top: calc(-1 * var(--background-scale) / 2 + 50%);
  left: calc(-1 * var(--background-scale) / 2 + 50%);
  background-size: var(--image-scale);
}
.cm-scroller {
  padding: 0 !important;
}
.cm-contentContainer {
  padding: 0 !important;
  margin: 0 !important;
}
.cm-sizer {
  width: 100%;
}
.canvas-edges {
  z-index: 0;
}
.canvas-node-label {
  display: none;
}
.canvas-node-container {
  background: none;
}
.canvas-node:not(.is-editing) .canvas-node-container {
  border: none;
  box-shadow: none;
}
.canvas-node,
.canvas-node-container,
.canvas-node-content,
.canvas-node .markdown-embed-content,
.canvas-node .markdown-preview-view {
  contain: none;
  padding: 0px !important;
  border-radius: 0;
  overflow: visible;
  will-change: transform;
}

.canvas-node-container:has(.canvas-node-content:not(.is-loaded)) {
  border: 2px solid rgb(var(--canvas-color));
  background: var(--background-primary);
}
.canvas-node-content:not(.is-loaded) .markdown-preview-sizer {
  padding: 20px;
  font-size: 15pt;
  overflow: scroll;
}

/* LINKED NOTE HOVER SETTINGS */
.hover-popover .markdown-preview-sizer {
  padding: 20px;
}
.hover-popover {
  border: 2px solid rgb(var(--canvas-color));
}

/* PREVIEW SETTINGS */
.markdown-preview-pusher,
.markdown-preview-view:before,
.markdown-preview-view:after {
  display: none !important;
}

/* OVERRIDE Default Obsidian Settings */
.callout {
  padding: 0;
  margin: 0;
  background: none;
  mix-blend-mode: normal;
}
.callout-icon {
  display: none;
}
img {
  --image-muted: 1;
  pointer-events: none;
}

/* PROFILE */
.canvas-node:has(.profile) {
  z-index: 3 !important;
}

.profile p {
  margin: 0;
}
.callout[data-callout-metadata~="profile"] {
  overflow: visible;
}
.callout[data-callout-metadata~="profile"] .callout-content {
  width: fit-content;
  position: relative;
  width: 1200px;
  filter: drop-shadow(2px 2px 4px #111);
}

/* CHARACTER NAME */
.canvas-node:has(.chararacter-name) {
  z-index: 10 !important;
}

.callout[data-callout-metadata~="character-name"] {
  margin: 0;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  font-family: "Dancing Script";
  color: black;
}

/* CHARACTER PROFILE */
.cavnas-node:has(.character-profile) {
  z-index: 10 !important;
}

.character-profile .markdown-preview-section {
  color: black;
  line-height: 16pt;
  font-family: "Caslon Antique";
}

.character-profile td {
  font-size: 24px;
}

/* MAIN STAT AREA */
.canvas-node:has(.main-stat) {
  z-index: 5 !important;
  transform: rotate(3deg);
}
.main-stat p {
  margin: 0;
}
.callout[data-callout-metadata~="main-stat"] {
  overflow: visible;
}
.callout[data-callout-metadata~="main-stat"] .callout-content {
  width: fit-content;
  position: relative;
  width: 1400px;
  filter: drop-shadow(2px 2px 4px #111);
}

.callout[data-callout-metadata~="main-stat"] img[alt="background"] {
  position: relative;
  width: 100%;
}
.callout[data-callout-metadata~="main-stat"] img[alt="foreground"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  margin: 0 auto;
}

/* ABILITIES */
.abilities {
  font-family: "Caslon Antique";
  font-size: 14pt;
}

.canvas-node:has(.callout[data-callout-metadata~="ability-score"]) {
  z-index: 10 !important;
}

.callout[data-callout-metadata~="ability-score"] {
  position: relative;
  overflow: visible;
  width: 60px;
  height: 30px;
}

.callout[data-callout-metadata~="ability-score"] .callout-title {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-family: "Dancing Script";
  color: black;
}

/* STATS */
.canvas-node:has(.callout[data-callout-metadata~="max-hp"]),
.canvas-node:has(.callout[data-callout-metadata~="hp"]),
.canvas-node:has(.callout[data-callout-metadata~="temp-hp"]),
.canvas-node:has(.callout[data-callout-metadata~="level"]),
.canvas-node:has(.callout[data-callout-metadata~="inspiration"]),
.canvas-node:has(.callout[data-callout-metadata~="death-saves"]),
.canvas-node:has(.callout[data-callout-metadata~="proficiency"]),
.canvas-node:has(.callout[data-callout-metadata~="hit-dice"]),
.canvas-node:has(.callout[data-callout-metadata~="ac"]),
.canvas-node:has(.callout[data-callout-metadata~="init"]),
.canvas-node:has(.callout[data-callout-metadata~="speed"]) {
  z-index: 10 !important;
}

.callout[data-callout-metadata~="max-hp"],
.callout[data-callout-metadata~="hp"],
.callout[data-callout-metadata~="temp-hp"],
.callout[data-callout-metadata~="level"],
.callout[data-callout-metadata~="inspiration"],
.callout[data-callout-metadata~="death-saves"],
.callout[data-callout-metadata~="proficiency"],
.callout[data-callout-metadata~="hit-dice"],
.callout[data-callout-metadata~="ac"],
.callout[data-callout-metadata~="init"],
.callout[data-callout-metadata~="speed"] {
  position: relative;
  overflow: visible;
  width: 100px;
  height: 100px;
}

.callout[data-callout-metadata~="max-hp"] .callout-title,
.callout[data-callout-metadata~="hp"] .callout-title,
.callout[data-callout-metadata~="temp-hp"] .callout-title,
.callout[data-callout-metadata~="level"] .callout-title,
.callout[data-callout-metadata~="inspiration"] .callout-title,
.callout[data-callout-metadata~="death-saves"] .callout-title,
.callout[data-callout-metadata~="proficiency"] .callout-title,
.callout[data-callout-metadata~="hit-dice"] .callout-title,
.callout[data-callout-metadata~="ac"] .callout-title,
.callout[data-callout-metadata~="init"] .callout-title,
.callout[data-callout-metadata~="speed"] .callout-title {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  font-family: "Dancing Script";
  color: black;
}

.callout[data-callout-metadata~="ac"] .callout-title-inner {
  transform: rotate(-15deg);
}

.callout[data-callout-metadata~="level"] .callout-title-inner {
  transform: rotate(-10deg);
}

.callout[data-callout-metadata~="init"] .callout-title-inner {
  transform: rotate(14deg);
  font-size: 40px;
}

.callout[data-callout-metadata~="speed"] .callout-title-inner {
  transform: rotate(10deg);
}

.callout[data-callout-metadata~="death-saves"] .callout-title-inner {
  transform: rotate(-10deg);
}

/* PROFILE IMAGE */
.canvas-node:has(.profile-img) {
  z-index: 10 !important;
}

.profile-img p {
  margin: 0;
}

.callout[data-callout-metadata~="profile-img"] {
  width: 350px;
  position: relative;
  margin: 0;
  padding: 0;
  filter: drop-shadow(1px 2px 5px #111);
  transform: rotate(6deg);
}
.callout[data-callout-metadata~="profile-img"] .callout-icon {
  display: none;
}
.callout[data-callout-metadata~="profile-img"] img {
  width: 100%;
  filter: opacity(100%) sepia(40%);
  -webkit-mask-size: 100%;
  -webkit-mask-image: url("https://i.imgur.com/f4u7MRC.png");
  pointer-events: none;
}

.callout[data-callout-metadata~="profile-img"] .callout-title-inner {
  mix-blend-mode: darken;
}

.callout[data-callout-metadata~="profile-img"] * {
  margin: 0;
  padding: 0;
  display: block;
}

.callout[data-callout-metadata~="profile-img"]::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  background-image: url("https://i.imgur.com/l9cPUkm.png");
  background-size: 100% 100%;
}

/* SPELL STATS */
.canvas-node:has(.spell-list) {
  z-index: 15 !important;
}

.spell-list p {
  margin: 0;
}

.callout[data-callout-metadata~="spell-list"] {
  position: relative;
  overflow: visible;
  font-family: "Caveat";
  font-weight: 700;
  --link-decoration-hover: none;
  --link-color: rgb(172, 55, 0);
  --link-color-hover: rgb(225, 150, 0);
  width: 700px;
  filter: drop-shadow(1px 1px 4px rgb(22, 22, 22));
}

.callout[data-callout-metadata~="spell-list"] .callout-content:before {
  content: "";
  background: url("https://i.imgur.com/qWSQBMp.png");
  width: 700px;
  height: 271px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.callout[data-callout-metadata~="spell-list"] > .callout-content {
  margin-top: 265px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 90px;
  background: url("https://i.imgur.com/72jfgmD.png");
  background-size: 100%;
  background-repeat: repeat-y;
  background-position-y: -76px;
}

.callout[data-callout-metadata~="spellstats"] table {
  width: 100%;
  margin-top: 0;
}

.callout[data-callout-metadata~="spellstats"] table input {
  mix-blend-mode: darken;
  background-color: #fff;
  border-color: #000;
  cursor: pointer;
  padding: 10px;
}

.callout[data-callout-metadata~="spellstats"] table input:checked {
  mix-blend-mode: darken;
  background-color: #fff;
  border-color: #000;
}

.callout[data-callout-metadata~="spellstats"] table input:checked:after {
  top: 0;
  left: 0;
  background-image: none !important;
  border-radius: 50%;
  mask-image: none;
  -webkit-mask-image: none;
  background-size: 100%;
  width: 100%;
  height: 100%;
  background-color: rgb(172, 55, 0);
  mix-blend-mode: darken;
  cursor: pointer;
}

.callout[data-callout-metadata~="spellstats"] th {
  font-size: 20px;
  color: #000;
  font-weight: 400;
  border: none;
}
.callout[data-callout-metadata~="spellstats"] td {
  font-size: 30px;
  color: #000;
  font-weight: 800;
  border: none;
}

.callout[data-callout-metadata~="spells"] th {
  display: none;
}

.callout[data-callout-metadata~="spells"] table {
  width: 100%;
  margin-top: 0;
}

.callout[data-callout-metadata~="spells"] td {
  --table-text-size: 20px !important;
  font-weight: 400;
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
  color: #000;
}

.callout[data-callout-metadata~="spells"] tr td:first-child {
  font-weight: 800;
}

.callout[data-callout-metadata~="spell-list"]:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 35px;
  background: url("https://i.imgur.com/ShxQaOp.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100%;
  pointer-events: none;
}

/* INVENTORY */
.canvas-node:has(.inventory) {
  z-index: 0 !important;
}

.inventory {
  --folding-offset: 0;
  --table-border-width: 1px;
  --table-row-last-border-width: 1px;
  --table-border-color: #b52c2c;
}
.inventory .markdown-preview-section {
  width: 500px;
  position: relative;
  filter: drop-shadow(1px 1px 5px #111) sepia(10%);
  overflow: hidden;
  background: url("https://i.imgur.com/LRJZaXU.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.inventory img {
  margin-top: 5px;
}

.inventory table {
  margin: 0 auto;
  width: 85%;
}

.inventory td {
  color: #000;
  border-right: none;
  border-left: none;
  border-top: none;
  font-family: "Patrick Hand";
  font-size: 12pt;
  padding: 0px 20px !important;
  line-height: 10pt;
  padding-top: 6px !important;
  padding-bottom: 4px !important;
}

.inventory thead {
  display: none;
}

/* COINS */
.canvas-node:has(.callout[data-callout-metadata~="cp"]),
.canvas-node:has(.callout[data-callout-metadata~="sp"]),
.canvas-node:has(.callout[data-callout-metadata~="ep"]),
.canvas-node:has(.callout[data-callout-metadata~="gp"]),
.canvas-node:has(.callout[data-callout-metadata~="pp"]) {
  z-index: 10 !important;
}

.markdown-preview-view:has(.callout[data-callout-metadata~="cp"])::before,
.markdown-preview-view:has(.callout[data-callout-metadata~="cp"])::after,
.markdown-preview-view:has(.callout[data-callout-metadata~="sp"])::before,
.markdown-preview-view:has(.callout[data-callout-metadata~="sp"])::after,
.markdown-preview-view:has(.callout[data-callout-metadata~="ep"])::before,
.markdown-preview-view:has(.callout[data-callout-metadata~="ep"])::after,
.markdown-preview-view:has(.callout[data-callout-metadata~="gp"])::before,
.markdown-preview-view:has(.callout[data-callout-metadata~="gp"])::after,
.markdown-preview-view:has(.callout[data-callout-metadata~="pp"])::before,
.markdown-preview-view:has(.callout[data-callout-metadata~="pp"])::after {
  display: none !important;
}

.callout[data-callout-metadata~="cp"] .callout-title-inner,
.callout[data-callout-metadata~="sp"] .callout-title-inner,
.callout[data-callout-metadata~="ep"] .callout-title-inner,
.callout[data-callout-metadata~="gp"] .callout-title-inner,
.callout[data-callout-metadata~="pp"] .callout-title-inner {
  padding-top: 21px;
  font-family: "Dancing Script", cursive;
  font-size: 24pt;
  font-weight: 800;
  margin: 0 auto;
  text-align: center;
  color: #000;
}

/* EXTRA TRAITS */
.canvas-node:has(.extra-actions) {
  z-index: 10 !important;
}

.canvas-node:has(.character-traits) {
  z-index: 11 !important;
}

.canvas-node:has(.extra-actions-bg) {
  z-index: 1 !important;
}

.canvas-node:has(.extra-actions-bg) .canvas-node-container,
.canvas-node:has(.extra-actions) .canvas-node-container {
  transform: rotate(3deg);
}

.canvas-node:has(.character-traits-bg) {
  z-index: 0 !important;
}

.canvas-node:has(.character-traits-bg) .canvas-node-container,
.canvas-node:has(.character-traits) .canvas-node-container {
  transform: rotate(-5deg);
}

.character-traits,
.extra-actions {
  --folding-offset: 0;
  --link-decoration-hover: none;
  --link-color: rgb(172, 55, 0);
  --link-color-hover: rgb(225, 150, 0);
}

.character-traits img,
.extra-actions img {
  width: 80%;
  padding-left: 5%;
}

.character-traits table,
.extra-actions table {
  width: 80%;
  margin: 0 auto;
}

.character-traits td,
.extra-actions td {
  font-family: "Caslon Antique";
  color: #000;
  font-size: 12pt;
}

.character-traits th,
.extra-actions th {
  font-family: "Caslon Antique";
  color: #000 !important;
  border-left: none;
  border-right: none;
}

.character-traits h1,
.extra-actions h1 {
  color: black;
  margin: 8px 0 !important;
  margin-left: 50px !important;
  font-family: "Caslon Antique";
}

.page-bg p {
  margin: 0 !important;
}

.callout[data-callout-metadata~=page-bg] {
  overflow: visible;
}
.callout[data-callout-metadata~=page-bg] .callout-content {
  width:fit-content;
  position: relative;
  width: 598px;
  filter:drop-shadow(2px 2px 4px #111)
}
.callout[data-callout-metadata~=page-bg] img[alt=background] {
  position: relative;
  width: 100%;
}

/* SPELL SLOTS */
.canvas-node:has(.spellslots) {
  z-index: 20 !important;
}

.canvas-node:has(.spellslots) .canvas-node-container {
  transform: rotate(-5deg);
}

.spellslots .markdown-preview-section {
  max-width: 100%;
  background:  url("https://imgur.com/hyAusmF.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.spellslots div.markdown-preview-section > div {
  margin-top: 25px;
  margin-left: 10px;
}

.spellslots .collapse-indicator {
  display: none;
}

/* Get rid of the parent bullet */
.spellslots div.markdown-preview-section > div > ul > li > div.list-bullet {
  display: none !important;
}

.spellslots input:checked:after {
  content: 'a';
}

/* Remove the indentation guide lines */
.spellslots.markdown-rendered.show-indentation-guide li > ul::before,
.spellslots.markdown-rendered.show-indentation-guide li > ol::before {
display: none;
}

div.markdown-preview-section > div > ul.has-list-bullet > li {
  padding-left: 0px !important;
  text-align: center;
}

.spellslots div > ul {
  list-style: none;
  display: flex;
  column-gap: 10px;
  flex-flow: row wrap;
  font-family: "Caslon Antique";
  color: black;
  font-size: 14px;
  font-weight: 800;
}

/* TABLE MODIFICATIONS */

.callout[data-callout-metadata~=t-w] table {
  width: 100%;
  margin: 0;
}
.callout[data-callout-metadata~=t-nh] thead {
  display: none !important;
}
.callout[data-callout-metadata~=t-nh] table tbody tr:first-child td {
  border-top: none;
}

.no-header th {
  display: none;
}

.no-header table tbody tr:first-child td {
  border-top: none;
}